
:root{
    --nero: #252525;
    --dimGray: #666;
    --max-red: #2b7c3e;
    --snow: #fafafa;
    --Libre: 'Libre Franklin', sans-serif;
    --Kaushan: 'Kaushan Script';
    --transition: all 0.4s ease;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--Libre);
}



body{
    line-height: 1.5;
    font-size: 1.05rem;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}



/* setup &  resuable stylings */
a{
    color: #000;
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
li{
    list-style-type: none;
}
button{
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}
.container{
    width: 94%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
    padding: 0.3rem 0;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    padding: 0.3rem 0;
    line-height: 1.7;
}
.padding-y{
    padding: 6rem 0;
}
.title{
    padding: 1rem 0;
    text-align: center;
}
.title h2{
    margin: 0 0.5rem;
    font-family: var(--Kaushan);
    letter-spacing: 2px;
}
.line{
    margin-top: 1.2rem;
}
.line div{
    width: 60px;
    height: 3px;
    background: var(--max-red);
    border-radius: 5px;
}
.line span{
    font-size: 1.4rem;
    margin: 0 1rem;
    color: var(--max-red);
}


/* banner section */
.banner-item{
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    color: #fff;
    display: none;
    animation: fadeIn 2s;
}
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
.banner-item:nth-child(1){
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Img/taylor-sondgeroth-f2flp9x51QI-unsplash.jpg) center/cover no-repeat fixed;
}

.banner-item h1{
    font-size: 2.5rem;
    font-family: var(--Kaushan);
}
.banner-item .text{
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.9;
}
.banner-item button{
    background: transparent;
    color: #fff;
    letter-spacing: 2px;
    border: 3px solid #fff;
    padding: 0.85rem 1.85rem;
    margin-top: 1.75rem;
    transition: var(--transition);
}
.banner-item button:hover{
    background: #fff;
    color: var(--dimGray);
}
.active-banner{
    display: grid;
}


.nav {
  height: 50px;
  width: 100%;
  background-color: #356935;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #356935;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}



/* about */
.about-row > div{
    margin: 1.2rem 0;
}
.about-col-1,
.about-col-3{
    display: none;
}



/* menu */
.menu-row{
    margin: 2rem 0;
}
.menu-item{
    margin: 0.6rem 0;
}
.menu-text{
    padding: 1rem 0;
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dimGray);
}
.menu-text a{
    margin-top: 0.6rem;
    display: block;
    background: var(--max-red);
    width: 120px;
    text-align: center;
    padding: 0.45rem 0;
    color: #fff;
    font-weight: 600;
    transition: var(--transition);
}
.menu-text a:hover{
    background: var(--nero);
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}

/* Drinks */
html{
  height: 100%;
}

body {
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}
#overlay {
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#cocktail {
  max-width: 350px;
  text-align: center;
  padding: 30px 30px 12px 30px;
  color: #fff;
  background-color: #2b7c3e;
  border: 4px solid #356935;
  border-radius: 5px;
}
#cocktail h1 {
  margin: 0 0 15px 0;
  text-transform: uppercase;
}
#cocktail img {
  max-width: 300px;
  border: 6px solid #fff;
  border-radius: 150px;
}
#cocktail ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cocktail li {
  padding: 15px 0;
  font-size: 18px;
}
#cocktail li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}


/* Book a Table*/

.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #2b7c3e;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}


/* Sign Up */
#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #2b7c3e;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}


/* footer */
footer{
    padding: 2rem 0;
    text-align: center;
}


/* #### Media Queries #### */

@media screen and (min-width: 480px){
    /* banner */
    .banner-item h1{
        font-size: 4rem;
    }
    .title h2{
        font-size: 2rem;
        letter-spacing: 3px;
    }
    /* menu */
    .menu-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }
    
}

@media screen and (min-width: 768px){
    /* banner */
    .container{
        width: 90vw;
    }
    .banner-item h1{
        font-size: 6rem;
    }

}

@media screen and (min-width: 992px){
    /* banner */
    .container{
        width: 90vw;
    }
    .banner-item h1{
        font-size: 6rem;
    }

    }
    /* menu */
    .menu-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

@media screen and (min-width: 1200px){
    /* banner */
    .container{
        width: 86%;
    }
    /* about */
    .about-row{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        column-gap: 2rem;
    }
    .about-col-1,
    .about-col-3{
        display: block;
    }
    .about-row > div{
        margin: 0;
    }
    
}

@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}